version: 2.1

jobs:
  test:
    docker:
      - image: cimg/python:3.11

    steps:
      - checkout

      - run:
          name: Verify pipeline
          command: echo "CircleCI pipeline working"

workflows:
  version: 2
  test-workflow:
    jobs:
      - test
